In [15]:
df = pd.read_csv('car_sales_cleaned1.csv')
# show rows for Hyundai Company
dfHyundai = df[df["Company"] == "Hyundai"].reset_index()
dfHyundai

     index  Gender  Annual Income  Company    Model Transmission       Color  Price ($)
0       16  Female         535000  Hyundai   Accent       Manual       Black      18000
1      124  Female        1690000  Hyundai   Sonata       Manual       Black      15000
2      168    Male         955000  Hyundai  Elantra       Manual  Pale White      26000
3      250    Male         457000  Hyundai   Sonata       Manual  Pale White      21000
4      289    Male          13500  Hyundai   Sonata       Manual       Black      20000
..     ...     ...            ...      ...      ...          ...         ...        ...
259  23432  Female          13500  Hyundai  Elantra       Manual         Red      22000
260  23580  Female          13500  Hyundai   Sonata       Manual       Black      15000
261  23650  Female         460000  Hyundai   Sonata       Manual       Black      15000
262  23738    Male         705000  Hyundai   Sonata       Manual         Red      21000
263  23745    Male         681500  Hyundai   Accent       Manual       Black      18500

[264 rows x 8 columns]

In [16]:
mostPopularCars = df[["Model", "Company"]].value_counts().head(3).reset_index()
mostPopularCars

,index,Gender,Annual Income,Company,Model,Transmission,Color,Price ($)
0,16,Female,535000,Hyundai,Accent,Manual,Black,18000
1,124,Female,1690000,Hyundai,Sonata,Manual,Black,15000
2,168,Male,955000,Hyundai,Elantra,Manual,Pale White,26000
3,250,Male,457000,Hyundai,Sonata,Manual,Pale White,21000
4,289,Male,13500,Hyundai,Sonata,Manual,Black,20000
...,...,...,...,...,...,...,...,...
259,23432,Female,13500,Hyundai,Elantra,Manual,Red,22000
260,23580,Female,13500,Hyundai,Sonata,Manual,Black,15000
261,23650,Female,460000,Hyundai,Sonata,Manual,Black,15000
262,23738,Male,705000,Hyundai,Sonata,Manual,Red,21000
263,23745,Male,681500,Hyundai,Accent,Manual,Black,18500